#databases

POSTGRES_DATABASE=taskforge
POSTGRES_USERNAME=taskforge_user
POSTGRES_PASSWORD=taskforge_password
POSTGRES_PORT=5432

MONGO_DB_NAME=taskforge_audit
MONGO_INITDB_ROOT_USERNAME=taskforge_mongo_user
MONGO_INITDB_ROOT_PASSWORD=taskforge_mongo_password
MONGO_PORT=27017
MONGO_EXPRESS_PORT=8081
MONGO_EXPRESS_USERNAME=admin
MONGO_EXPRESS_PASSWORD=admin

PGADMIN_EMAIL=admin@taskforge.com
PGADMIN_PASSWORD=admin_password
PGADMIN_PORT=8080

REDIS_PASSWORD=taskforge_redis_password
REDIS_PORT=6379
REDIS_INSIGHT_PORT=8001